<h2 class ="title"><% title "ALL FORTUNES" %></h2>


<% @forts.each do |fort| %>
<article class="index">
  <div class="post">


    <span class="name">Author : </span>
    <span class="value"><%= fort.source %></span>
   

</div>
    <div class="post">
    
<p class="bylinee">
<span class="name">Fotrune : </span>
    <span class="value"><%= fort.body %></span>
</p>

  </div>

    <div id="links">
    <%= link_to 'ٿ', fort %> |
    <%= link_to '✎', edit_fort_path(fort) %> |
    <%= link_to '×', fort, confirm: 'Are you sure?', method: :delete %>
  </div>
</article>

<% end %>

</p>
<div id="sidebar">
<ul>
<li>

<div id="links">
 <h2> <%= link_to '♡ - Add New Fortune', new_fort_path %> </h2>
</div>
</li>
</ul>
</div>

<div id="paginator">
<%=paginate @forts %>
</div>
